body {
  background-color: rgb(25,25,25);
}

.App {
  text-align: center;
  color: #f1f1f1;
}

.App_header {
  height: 60px;
  background-color: #151515;
  padding: 20px 0;
}

.App_header h1 {
  margin: 0;
}

.btn-container {
  /*display: flex;*/
  margin: 0 auto;
}